.menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: rgba(47,53,79,0.9);
  height: 100vh;
  transform: translateY(-60px);
  transition: 0.3s transform, 0.3s opacity;
  will-change: transform;
}
.menu ul {
  padding: 0;
  list-style: none;
}
.menu li {
  border-top: 0.5px solid rgba(145,148,161,0.5);
}
.menu li:last-child a {
  margin: 1em 0;
  padding: 0.5em 0;
  border: 2px solid #fff;
  border-radius: 5px;
  font-weight: 500;
}
.menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 1em;
  letter-spacing: 3px;
}
.menu-open {
  background: url("../images/icon-hamburger.svg") no-repeat center;
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}
.menu-checkbox {
  display: none;
}
.menu-checkbox:checked ~ .header {
  background: rgba(47,53,79,0.9);
}
.menu-checkbox:checked ~ .header .header-logo {
  background: url("../images/logo-bookmark-white.svg") no-repeat;
}
.menu-checkbox:checked ~ .header .menu {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.menu-checkbox:checked ~ .header .menu-open {
  background: url("../images/icon-close.svg") no-repeat center;
}
.header {
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 2.2em;
  padding-bottom: 1.2em;
  z-index: 2;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  display: block;
  height: 25px;
  width: 100%;
  background: url("../images/logo-bookmark.svg") no-repeat;
}
.hero {
  padding: 3.1em 1em;
  padding-bottom: 7em;
  margin-bottom: 1.5em;
  text-align: center;
}
.hero-image {
  max-width: 100%;
}
.hero-buttons {
  padding-top: 1em;
}
.tabs {
  margin-top: 2.3em;
  border-top: 1px solid var(--grayish_Blue);
}
.tabs-link {
  color: var(--very_Dark_Blue);
  border-bottom: 1px solid var(--grayish_Blue);
}
.tabs-content {
  display: none;
}
.tabs-content img {
  max-width: 100%;
}
.tabs-content .u-button {
  display: none;
}
.tabs label {
  padding: 1em 0;
  display: block;
  position: relative;
}
.tabs label::after {
  display: none;
  content: "";
  height: 5px;
  position: absolute;
  width: 50%;
  bottom: 0;
  left: 0;
  transform: translateX(50%);
  box-shadow: inset 0 -15px 0 -10px var(--soft_Red);
}
.tabs input {
  display: none;
}
.tabs input[id="bookmarking"]:checked ~ ul [for="bookmarking"]::after {
  display: block;
}
.tabs input[id="bookmarking"]:checked ~ .tabs-grid #tab-bookmarking {
  display: block;
}
.tabs input[id="searching"]:checked ~ ul [for="searching"]::after {
  display: block;
}
.tabs input[id="searching"]:checked ~ .tabs-grid #tab-searching {
  display: block;
}
.tabs input[id="sharing"]:checked ~ ul [for="sharing"]::after {
  display: block;
}
.tabs input[id="sharing"]:checked ~ .tabs-grid #tab-sharing {
  display: block;
}
.feactures {
  text-align: center;
  padding-bottom: 6em;
}
.feactures ul {
  padding-bottom: 2.7em;
}
.download {
  padding: 0 1em;
  padding-bottom: 6em;
  text-align: center;
}
.download .u-p {
  margin-top: 0;
}
.download-grid {
  margin-top: 2.5em;
  display: grid;
  gap: 2em;
}
.download-item {
  border-radius: 1em;
  padding: 1.5em;
  padding-top: 2.5em;
  background: url("../images/bg-dots.svg") repeat-x center bottom 100px;
  box-shadow: 0 8px 13px -4px rgba(83,104,223,0.3);
}
.download-item .u-p {
  margin-bottom: 4em;
}
.download-item .u-h3 {
  margin-top: 1.2em;
  margin-bottom: 0.4em;
}
.carrusel {
  padding-bottom: 2.5em;
  text-align: left;
}
.carrusel-header {
  padding: 1em 0;
  position: relative;
  font-size: 0.83em;
}
.carrusel-header:focus {
  outline: 0;
}
.carrusel-header::-webkit-details-marker {
  display: none;
}
.carrusel-header::before {
  position: absolute;
  right: 0;
  content: url("../images/icon-arrow.svg");
}
.carrusel-content {
  border-bottom: 1px solid var(--lightGray);
  font-size: 1em;
}
.carrusel-content .u-p {
  padding: 0 0.5em;
}
.carrusel-content[open] > summary::before {
  transform: rotate(180deg);
  content: url("../images/icon-arrow-close.svg");
}
.questions {
  padding-bottom: 6em;
  text-align: center;
}
.questions .u-button {
  padding: 1em 1.5em;
}
.join {
  background: var(--soft_Blue);
  color: #fff;
  padding: 3em 0;
  text-align: center;
}
.form .u-button {
  margin: 0;
}
.form .u-button[placeholder] {
  color: #f00;
}
.form-input {
  margin-bottom: 1.5em;
  width: 100%;
  padding: 1.3em;
  border-radius: 6px;
  box-sizing: border-box;
  border: none;
  font-size: 0.83em;
  outline: 0;
}
.form-input::-webkit-input-placeholder {
  color: rgba(145,148,161,0.5);
}
:root {
  --soft_Blue: #5368df;
  --soft_Red: #fa5757;
  --grayish_Blue: #9194a1;
  --very_Dark_Blue: #252b46;
  --lightGray: #e5e5e5;
}
body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
body ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
a {
  text-decoration: none;
}
.is-hidden {
  display: none;
}
.u-wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 1.6em;
}
.u-h1,
.u-h2,
.u-h3 {
  font-size: 1.65em;
  font-weight: 500;
  color: var(--very_Dark_Blue);
}
.u-h2 {
  font-size: 1.3em;
}
.u-h3 {
  font-size: 1.2em;
}
.u-p {
  color: var(--grayish_Blue);
  font-size: 0.83em;
  line-height: 1.5;
}
.u-button {
  color: #fff;
  background: var(--soft_Blue);
  border: none;
  padding: 1em 1.2em;
  border-radius: 6px;
  font-size: 0.85em;
  margin-left: 0.6em;
  font-weight: 500;
  box-shadow: 0 8px 13px -4px rgba(83,104,223,0.3);
  cursor: pointer;
}
.u-button:first-of-type {
  margin: 0;
}
.u-button.is-gray {
  background: #f7f7f7;
  color: var(--very_Dark_Blue);
}
.u-button.is-red {
  background: var(--soft_Red);
  color: #fff;
}
.u-button.is-full-width {
  width: 100%;
}
