.menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: rgba(47,53,79,0.9);
  height: 100vh;
  transform: translateY(-60px);
  transition: 0.3s transform, 0.3s opacity;
  will-change: transform;
}
.menu ul {
  padding: 0;
  list-style: none;
}
.menu li {
  border-top: 0.5px solid rgba(145,148,161,0.5);
}
.menu li:last-child a {
  margin: 1em 0;
  padding: 0.5em 0;
  border: 2px solid #fff;
  border-radius: 5px;
  font-weight: 500;
}
.menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 1em;
  letter-spacing: 3px;
}
.menu-open {
  background: url("../images/icon-hamburger.svg") no-repeat center;
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}
.menu-checkbox {
  display: none;
}
.menu-checkbox:checked ~ .header {
  background: rgba(47,53,79,0.9);
}
.menu-checkbox:checked ~ .header .header-logo {
  background: url("../images/logo-bookmark-white.svg") no-repeat;
}
.menu-checkbox:checked ~ .header .menu {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.menu-checkbox:checked ~ .header .menu-open {
  background: url("../images/icon-close.svg") no-repeat center;
}
.header {
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 2.2em;
  padding-bottom: 1.2em;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  display: block;
  height: 25px;
  width: 100%;
  background: url("../images/logo-bookmark.svg") no-repeat;
}
.hero {
  border: 1px solid #f00;
}
:root {
  --soft_Blue: #5368df;
  --soft_Red: #fa5757;
  --grayish_Blue: #9194a1;
  --very_Dark_Blue: #252b46;
}
body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  color: var(--grayish_Blue);
  margin: 0;
  padding: 0;
}
.u-wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 1.2em;
}
