@import './tabs.styl'
.feactures
    text-align: center
    padding-bottom: 6em
    // border: 1px solid red
    .u-wrapper >.u-p // Hijo directo de u-wrapper con la clase u-p
        max-width: 540px
        margin: auto
    ul
        padding-bottom: 4em