.footer
    // border: 1px solid red
    text-align: center
    background: var(--very_Dark_Blue)
    padding: 2.2em 0
    ul
        list-style: none
    a
        text-transform: uppercase
        font-weight: 400
        color: var(--lightGray)
        text-decoration: none
        font-size: .85em
        letter-spacing: 1.5px
    &-menu
        padding-top: 1.2em
        a
            display: block
            padding 1em 0   
    &-social
        margin-top: 1em
        a
            padding: 0
            width: 25px
            height: 25px
            // border: 1px solid white
            display: inline-block
        .facebook
            background: url('../images/icon-facebook.svg')no-repeat center
            margin-right: 2em
        .twitter
            background: url('../images/icon-twitter.svg') no-repeat center