@import './menu.styl'
.header
    border: 1px solid green
    background: white
    position relative
    &-content
        display: flex
        justify-content: space-between
        align-items: center