.join
    background: var(--soft_Blue)
    color: white
    padding: 3em 0
    text-align: center
.form
    .u-button
        margin 0
        &[placeholder]
            color red
    &-input
        margin-bottom: 1.5em
        width: 100%
        padding: 1.3em
        border-radius: 6px
        box-sizing: border-box
        border: none
        font-size: .83em
        outline: 0
        &::-webkit-input-placeholder
            color rgba(145,148,161,.5)