.menu
    // display: none
    visibility hidden
    opacity 0
    position: absolute
    top: 100%  // Idicamos que empieze al final del contenedor del padre
    left 0
    right 0
    background: rgba(47,53,79, 0.9);
    // text-align: center
    // width: 100%
    height 100vh
    transform:  translateY(-60px)
    transition:  .3s transform, 0.3s opacity 
    will-change: transform

    ul
      padding 0
      list-style: none
    
    li
      border-top: 0.5px solid rgba(145,148,161,.5)
      &:last-child
        a
          margin: 1em 0;
          padding: 0.5em 0
          border: 2px solid white
          border-radius: 5px
          font-weight: 500
    a
      color: white
      text-decoration: none
      text-transform: uppercase
      // border: 1px solid red
      display: block
      text-align: center
      padding: 1em
      letter-spacing: 3px
    &-open
        background url('../images/icon-hamburger.svg') no-repeat center
        width: 25px
        height 25px
        display: inline-block
        cursor pointer
        user-select: none
    &-social
      position: absolute
      left: 0
      right 0
      bottom: 120px
      text-align: center
      a
          padding: 0
          width: 25px
          height: 25px
          // border: 1px solid white
          display: inline-block
      .facebook
          background: url('../images/icon-facebook.svg')no-repeat center
          margin-right: 2em
      .twitter
          background: url('../images/icon-twitter.svg') no-repeat center
    &-checkbox
        display none
        &:checked 
            & ~ .header 
              // &.menu-open
              //   border: 1px solid blue
              background: rgba(47,53,79, 0.9);
              .header-logo
                background: url("../images/logo-bookmark-white.svg") no-repeat
              .menu
                // display: block
                transform: translateY(0)
                visibility: visible
                opacity 1
              .menu-open
                background: url("../images/icon-close.svg") no-repeat center

