@import 'carrusel.styl'

.questions
    // border: 1px solid purple 
    padding-bottom: 4em
    .u-wrapper
     > .u-p , .u-h2
        text-align: center
    .button-content
        display: block
        text-align: center
        .u-button
            padding: 1em 1.5em