@import 'carrusel.styl'

.questions
    // border: 1px solid purple
    max-width 590px
    padding-bottom: 6.8em
    text-align: center
    margin: auto
    .u-button
        padding: 1em 1.5em
    @media screen and (min-width :1024px)
        padding-bottom: 7.9em
